---
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  role: string;
  email: string;
}

const { name, role, email } = Astro.props;
const image = import(`../assets/images/people/${name.split(" ")[0]}.jpg`);
---

<div class="overflow-hidden bg-white">
  <div class="aspect-[3/4] relative">
    <Image
      src={image}
      alt={`Profile photo of ${name}`}
      class="object-cover w-full h-full"
      loading={"eager"}
    />
  </div>
  <div class="p-4 text-center">
    <h3 class="text-xl">{name}</h3>
    <p class="text-muted-foreground text-base mb-3">{role}</p>
    <a
      href={`mailto:${email}`}
      class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-amber-100 hover:bg-amber-200 transition-colors"
    >
      <Icon
        name="mail"
        class="w-4 h-4 text-amber-400 hover:text-amber-500 transition-colors"
      />
      <span class="sr-only">Email {name}</span>
    </a>
  </div>
</div>
